@{
    ViewBag.Title = "Home Page";
}
    <style>
        img {
            width: 97%;
            align-content: center;
        }
    </style>
<!-- Header -->
<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-lg-12">
                <img src="~/Content/img/0.jpg" alt="events"/>
                <h1 class="display-4 text-white mt-5 mb-2">Eventos Online</h1>
                <p class="lead mb-5 text-white-50">Ponemos a tu disposición los mejores eventos. Conoce los horarios y las ubicaciones que tenemos para ti en exclusiva.</p>
            </div>
        </div>
    </div>
</header>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col-md-8 mb-5">
            <h2>Sobre nosotros</h2>
            <hr>
            <p>Nos asociamos con diferentes institutos que realizan eventos alrededor del país, y los disponemos a la comodidad de tu dispositivo electrónico de preferencia.</p>
            <p>Nuestra misión es darte la mayor accesibilidad y conexión con los diferentes eventos, conferencias y demás que se realicen de la manera más práctica y cercana.</p>
            <a class="btn btn-primary btn-lg" href="#">¡Más! &raquo;</a>
        </div>
        <div class="col-md-4 mb-5">
            <h2>Contáctanos</h2>
            <hr>
            <address>
                <strong>Eventos Online S.A. de Asociados y Grupo Sanabria</strong>
                <br>Av. 509 87, San Juan de Aragón
                <br>I Sección CDMX
                <br>
            </address>
            <address>
                <abbr title="Número telefónico">P:</abbr>
                (+55 4583 3230)
                <br>
                <abbr title="Email">E:</abbr>
                <a href="mailto:#">afiliados@eventosonline.com</a>
            </address>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="~/Content/img/cecut.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Entradas gratis al museo</h4>
                    <p class="card-text">Este mes de mayo los días participantes entran sin costo. ¡Revisa todas las ofertas!</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Detalles</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="~/Content/img/e3.jpg" alt="" height="225" width="225">
                <div class="card-body">
                    <h4 class="card-title">El evento de videojuegos más esperado</h4>
                    <p class="card-text">El evento anual más importante de la comunidad gamer está más cerca de lo que crees.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Detalles</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <img class="card-img-top" src="~/Content/img/led.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title">Led Zeppelin de vuelta </h4>
                    <p class="card-text">Te damos toda la información referente a la próxima gira mundial.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Detalles</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>